:host {
  display: block;
}

.card-wrapper {
  overflow: hidden;
}

.item-centered {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.card-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  transition: transform .5s ease-in-out;

}

.slider-button-container input[type='radio'] {
  cursor: pointer;
}

@media only screen and (max-width: 580px) {
  .card-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
}
